.activeRequests {
	padding: 10px;
	margin: 0% 0% 5px 10%;
	width: 40em;
	border: 1px solid #666666;
	border-radius: 2px;
    vertical-align: middle;
}

.timestamp {
	color: red;
	font-style: italic;
}

.padding-md {
	padding: 10px !important;
}

.margin-top {
	margin-top: 10px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.border-solid {
	border: 1px solid #666666;
}

.border-top {
	border-top: 1px solid #666666;
}

.msg-box-user {
	font-weight: bold;
	margin-bottom: 1px;
	margin-top: 1px;
}
#orders {
	font-size: 12px;
}

.msg-box-employee {
	color: #999999;
	margin-bottom: 1px;
	margin-top: 1px;
}