<nav class="navbar navbar-default">
  	<div class="container-fluid">
    	<div class="navbar-header">
      		<a class="navbar-brand" href="/auth">
        		<img alt="Brand" src="/images/genie.png" width="25px" height="25px" />
	    	</a>
	    	<p class="navbar-text">Genie</p>
    	</div>
      <a href="/admin/betaUsers/" style="color: #534C88" class="btn btn-link navbar-btn navbar-right" style="margin-right: 10px;">Beta Users</a>
      <a href="/admin/employees/" style="color: #534C88" class="btn btn-link navbar-btn navbar-right" style="margin-right: 10px;">Employees</a>
  	</div>
</nav>
<div class="container">
  <center><h4>Pending Requests</h4></center>
  <div style="right: 5em; position: absolute;">
    <label>Automatic Server Response</label>
    <button class="btn btn-success btn-sm" onClick="toggleServerAutomaticResponse()" id="serverDownResponse">Start</button>
  </div>
  <br />
	<div id="requests">
	</div>
</div>

<script type="text/javascript" src="/js/home.js"></script>