<!DOCTYPE HTML>
<html>
	<head>
		<title>Genie</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/css/landing.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/favicon/apple-touch-icon-57x57.png" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/favicon/apple-touch-icon-114x114.png" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/favicon/apple-touch-icon-72x72.png" />
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/favicon/apple-touch-icon-144x144.png" />
		<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/favicon/apple-touch-icon-60x60.png" />
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/favicon/apple-touch-icon-120x120.png" />
		<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/favicon/apple-touch-icon-76x76.png" />
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/favicon/apple-touch-icon-152x152.png" />
		<link rel="icon" type="image/png" href="/favicon/favicon-196x196.png" sizes="196x196" />
		<link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/png" href="/favicon/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="/favicon/favicon-16x16.png" sizes="16x16" />
		<link rel="icon" type="image/png" href="/favicon/favicon-128.png" sizes="128x128" />
		<meta name="application-name" content="&nbsp;"/>
		<meta name="msapplication-TileColor" content="#FFFFFF" />
		<meta name="msapplication-TileImage" content="/favicon/mstile-144x144.png" />
		<meta name="msapplication-square70x70logo" content="/favicon/mstile-70x70.png" />
		<meta name="msapplication-square150x150logo" content="/favicon/mstile-150x150.png" />
		<meta name="msapplication-wide310x150logo" content="/favicon/mstile-310x150.png" />
		<meta name="msapplication-square310x310logo" content="/favicon/mstile-310x310.png" />

	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<img src="images/logo.png" id="logo">
						<div class="inner1">
							<h1>Your next wish is just a text away</h1>
							<p>Genie is an iPhone app that assists you in completing<br> your daily tasks on the go.</p>
							<form>
								<input type="email" value="" class="text" id="email" placeholder="Enter email address" required="">
							</form>
						</div>
						<ul class="actions">
							<li><a href="#one" class="button scrolly"><img src="images/down.png" id="down"></a></li>
						</ul>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a class="image"><img src="/images/orders.png" alt="" data-position="center center" /></a>
						</section>
						<section>
							<a class="image"><img src="/images/chat.png" alt="" data-position="center center" /></a>
						</section>
						<section>
							<a class="image"><img src="/images/discover.png" alt="" data-position="center center" /></a>
						</section>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner2">
							<h2>Why Genie?</h2>
							<p></p>
							<div class="features">
								<section>
									<span class="icon major fa-search"></span>
									<h3>Deal Discovery</h3>
									<p>Looking for the next sale on electronics and discount on flight tickets? <br>Find the best deals and trending products out there, that fit your needs..</p>
								</section>
								<section>
									<span class="icon major fa-black-tie"></span>
									<h3>Personalized Service</h3>
									<p>Searching for the insurance policy best customized for you? <br>Our Genies tailor responses for you so that each preference is taken into account.</p>
								</section>
								<section>
									<span class="icon major fa-magic"></span>
									<h3>Convenience</h3>
									<p>Car broke down on the road and want a mechanic? <br>Our seamless interface makes it easy for you to order things on-the-move.</p>
								</section>
								<section>
									<span class="icon major fa-hand-peace-o"></span>
									<h3>Hassle Free</h3>
									<p>Not sure what to order? Need a reminder for your daily medicine? <br>Let us do the leg work and help you save time. </p>
								</section>
								<section>
									<span class="icon major fa-clock-o"></span>
									<h3>Schedule Orders</h3>
									<p>Want a daily delivery of milk and groceries or monthly payment of your internet bill? <br>Leave the small things to us. Set up regular orders with a single request.</p>
								</section>
								<section>
									<span class="icon major fa-money"></span>
									<h3>Cash on Delivery or Online Payment</h3>
									<p>Want to pay with cash after appointment with doctor? <br>No stress. Choose the method that you are most comfortable with.</p>
								</section>
							</div>
						</div>
					</section>
			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner3">
					<ul class="menu">
						<li>Your wish. Our command.</li>
						<li>&copy; 2015 Genie Inc. All rights reserved.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
			<script src="/js/landing.js"></script>
			<script src="/js/textfield.js"></script>

	</body>
</html>