<nav class="navbar navbar-default">
  	<div class="container-fluid">
    	<div class="navbar-header">
      		<a class="navbar-brand" href="/">
        		<img alt="Brand" src="/images/genie.png" width="25px" height="25px" />
	    	</a>
	    	<p class="navbar-text">Genie</p>
    	</div>
  	</div>
</nav>
<div class="container">
	<div class="col-md-4 col-md-offset-4">
		<center>
			<img src="/images/genie.png" class="img-responsive" />
			<h3>Genie Employee Registration</h3>
		</center>
		<form action="/createUser" method="POST">
			<div class="form-group">
		    	<label for="name">Full Name:</label>
		    	<input type="name" class="form-control" name="name">
		  	</div>
		  	<div class="form-group">
		    	<label for="email">Email address:</label>
		    	<input type="email" class="form-control" name="email">
		  	</div>
		  	<div class="form-group">
		    	<label for="pwd">Password:</label>
		    	<input type="password" class="form-control" name="password">
		  	</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</div>